extends ../layout

block content
    .container-fluid
        .row
            .col-md-8.offset-md-2
                .card
                    .card-header.d-flex.justify-content-between.align-items-center
                        h4.mb-0 Seleccionar Fecha del Turno
                        button.btn.btn-secondary(onclick='window.history.back()')
                            i.fas.fa-arrow-left.me-1
                            | Volver
                    .card-body
                        .row.mb-4
                            .col-md-6
                                h5 Médico
                                p #{medico.nombre} #{medico.apellido}
                            .col-md-6
                                h5 Especialidad
                                p #{medico.nombre_esp}
                        if fechasDisponibles && fechasDisponibles.length > 0
                            #calendario
                            #contenedorHorarios.mt-4
                        else
                            .alert.alert-info No hay fechas disponibles para este médico

block scripts
    script(src='/js/turnos/calendarioPaciente.js')
    script.
        const medicoId = '#{medicoId}';
        const sucursalId = '#{sucursal}';
        const especialidadId = '#{especialidad}';
        const fechasDisponibles = !{JSON.stringify(fechasDisponibles || [])}; 