extends ../layout

block content
  .container.mt-4
    h2.mb-4 Mis Turnos
    
    .row
      each turno in turnos
        .col-md-6.mb-4
          .card
            .card-body
              h5.card-title= moment(turno.fechaturno).format('DD/MM/YYYY')
              p.card-text
                strong Estado: 
                span(class=`badge ${turno.estado_tipo === 'Confirmado' ? 'bg-success' : 'bg-warning'}`)
                  = turno.estado_tipo
                br
                strong Hora: 
                span= turno.inicioturno
                br
                strong Médico: 
                span= turno.medico_nombre + ' ' + turno.medico_apellido
                br
                strong Sucursal: 
                span= turno.sucursal_nombre
              
              .btn-group
                a.btn.btn-info.btn-sm(href=`/turno/ver/${turno.turniid}`) 
                  i.fas.fa-eye.me-1
                  | Ver Detalles
                
                if turno.estado_tipo === 'Pendiente'
                  button.btn.btn-danger.btn-sm(onclick=`cancelarTurno(${turno.turniid})`)
                    i.fas.fa-times.me-1
                    | Cancelar 