extends ../layout

block content
  .container-fluid
    .row
      .col-md-8.offset-md-2
        .card
          .card-header
            h4.mb-0 Confirmar Turno
          .card-body
            .row.mb-3
              .col-md-6
                h5 Datos del Turno
                ul.list-unstyled
                  li
                    strong Fecha: 
                    span= moment(turno.fechaturno).format('DD/MM/YYYY')
                  li
                    strong Hora: 
                    span= moment(turno.inicioturno, 'HH:mm:ss').format('HH:mm')
                  li
                    strong Médico: 
                    span= `${turno.medico_nombre} ${turno.medico_apellido}`
                  li
                    strong Sucursal: 
                    span= turno.sucursal_nombre

            if procedimiento
              .row.mb-3
                .col-md-12
                  .alert.alert-info
                    h6 Indicaciones importantes:
                    p #{procedimiento.indicaciones}

            .row.mt-4
              .col-12.text-center
                a.btn.btn-secondary.me-2(href="/turno/misTurnos") Cancelar
                button.btn.btn-primary(onclick=`confirmarTurno(${turno.turniid})`) Confirmar Turno

block scripts
  script(src="//cdn.jsdelivr.net/npm/sweetalert2@11")
  script.
    function confirmarTurno(turnoId) {
      Swal.fire({
        title: '¿Confirmar turno?',
        text: "¿Está seguro que desea confirmar este turno?",
        icon: 'question',
        showCancelButton: true,
        confirmButtonText: 'Sí, confirmar',
        cancelButtonText: 'Cancelar'
      }).then((result) => {
        if (result.isConfirmed) {
          fetch(`/turno/confirmar/${turnoId}`, {
            method: 'POST',
            headers: { 'Content-Type': 'application/json' }
          })
          .then(response => response.json())
          .then(data => {
            if (data.success) {
              Swal.fire('¡Confirmado!', data.message, 'success')
              .then(() => window.location.href = '/turno/misTurnos');
            } else {
              throw new Error(data.error);
            }
          })
          .catch(error => {
            Swal.fire('Error', error.message || 'No se pudo confirmar el turno', 'error');
          });
        }
      });
    }