extends ../layout

block content
  .container-fluid
    .row
      .col-md-12
        .d-flex.justify-content-between.flex-wrap.flex-md-nowrap.align-items-center.pt-3.pb-2.mb-3.border-bottom
          h1.h2 Turnos
          .btn-toolbar.mb-2.mb-md-0
            .btn-group.me-2
              a.btn.btn-sm.btn-outline-secondary(type='button' href='/turno/buscarAgenda') Atras

        if(clinica)
          h4.text-center.text-primary.mt-3 Turnos disponibles en Clinica #{clinica.nombre} 
        else 
          h4.text-center.text-primary.mt-3 Turnos disponibles 

        if(medico)
          h5.text-center.text-danger.mt-3 Médico: #{medico[0].Persona.nombre} #{medico[0].Persona.apellido}
          h5.text-center.text-danger.mt-3 Especialidad: #{medico[0].Especialidad.nombre}

        if error
          .alert.alert-danger= error
        else if !turnos || turnos.length === 0
          .alert.alert-info No hay turnos disponibles
        else
          div(class="container-xxl")
            .table-responsive
              table#tablaTurnos_paciente.table.table-striped.table-bordered.table-condensed(style="width: 100%")
                thead.text-center
                  tr
                    th Numero
                    th Agenda
                    th Clinica
                    th Fecha turno
                    th Hora turno 
                    th Estado
                    th Comentario
                    th Reservar
                tbody#tbTurnos.text-center
                  if(turnos && turnos.length > 0)
                    each val in turnos
                      tr
                        td= val.turniid
                        td= val.nombreagenda
                        td= val.sucursal_nombre || val.nombre_sucrsal
                        td(data-order=moment(val.fechaturno).format('YY/MM/DD'))= moment(val.fechaturno).format('DD/MM/YYYY')
                        td= val.inicioturno
                        td= val.estado_tipo
                        td= val.comentario
                        td
                          a.btn.btn-danger(href=`/turno/reservar?turnoId=${val.turniid}&personaId=${user.personaid}`) Reservar
                  else
                    tr
                      td(colspan="8") No hay turnos disponibles

block scripts
  script(src="//cdn.jsdelivr.net/npm/sweetalert2@11")
  if(alert)
    script.
      Swal.fire({
        title: '#{alertTitle}',
        text: '#{alertMessage}',
        icon: '#{alertIcon}',
        showConfirmButton: #{showConfirmButton},
        timer: #{timer}
      }).then(() => {
        window.location = '/#{ruta}'
      })