extends ../layout

block content
  .container-fluid
    .row
      .col-12
        .card
          .card-header
            h4.mb-0 Turnos Disponibles
          .card-body
            .table-responsive
              table.table.table-hover
                thead
                  tr
                    th Fecha
                    th Hora
                    th Médico
                    th Sucursal
                    th Estado
                    th Acciones
                tbody
                  each turno in turnos
                    tr
                      td= moment(turno.fechaturno).format('DD/MM/YYYY')
                      td= moment(turno.inicioturno, 'HH:mm:ss').format('HH:mm')
                      td= `${turno.medico_nombre} ${turno.medico_apellido}`
                      td= turno.sucursal_nombre
                      td= turno.estado_tipo
                      td
                        if user.idperfil === 1
                          a.btn.btn-primary.btn-sm(href=`/turno/ver?id=${turno.turniid}`)
                            i.fas.fa-eye.me-1
                            | Ver
                        else
                          a.btn.btn-success.btn-sm(href=`/turno/reservar?turnoId=${turno.turniid}&personaId=${user.personaid}`)
                            i.fas.fa-calendar-check.me-1
                            | Reservar