extends layout

block content
  h1 Editar Usuario
  form(action=`/usuarios/editar/${usuario.id}`, method='POST')
    div
      label(for='username') Username:
      input(type='text', name='username', value=usuario.username, required)
    div
      label(for='password') Contraseña:
      input(type='password', name='password', value=usuario.password, required)
    div
      label(for='tipo') Tipo:
      select(name='tipo', required)
        option(value='admin', selected=usuario.tipo === 'admin') Administrador
        option(value='medico', selected=usuario.tipo === 'medico') Médico
        option(value='secretaria', selected=usuario.tipo === 'secretaria') Secretaria
        option(value='paciente', selected=usuario.tipo === 'paciente') Paciente
    div
      button(type='submit') Actualizar
  a(href='/usuarios') Volver a la lista de usuarios
