extends layout

block content
  h1 Editar Paciente
  form(action=`/paciente/editar/${paciente.id}`, method="POST")
    div
      label(for="nombre") Nombre:
      input(type="text" name="nombre" value=paciente.nombre required)
    div
      label(for="apellido") Apellido:
      input(type="text" name="apellido" value=paciente.apellido required)
    div
      label(for="dni") DNI:
      input(type="text" name="dni" value=paciente.dni required)
    div
      label(for="obra_social_id") Obra Social ID:
      input(type="text" name="obra_social_id" value=paciente.obra_social_id)
    div
      label(for="datos_contacto") Datos de Contacto:
      input(type="text" name="datos_contacto" value=paciente.datos_contacto)
    button(type="submit") Guardar Cambios
