extends layout

block content
  h1 Lista de Usuarios
  table
    thead
      tr
        th ID
        th Username
        th Tipo
        th Acciones
    tbody
      each usuario in usuarios
        tr
          td= usuario.id
          td= usuario.username
          td= usuario.tipo
          td
   
            a(href=`/usuarios/editar/${usuario.id}`) Editar
            
            form(action=`/usuarios/eliminar/${usuario.id}`, method='POST', style='display:inline')
              button(type='submit') Eliminar

  a(href="/inicio") Volver al inicio

             
